/* GENERAL */
body {
  margin: 0;
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* PATIENTS */
.patient-button {
  font: 400 1rem system-ui;
}

/* WIDGET */
.widget-wrapper {
  position: absolute;
  top: 5%;
  width: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.widget {
  padding: 1rem;
  background-color: white;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.32);
  border-radius: 5px;
}

/* DEMOGRAPHICS */
.demographics {
  display: flex;
  justify-content: space-around;
}
